<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <!-- Corrected Image Path -->
                <img src="https://scontent-dub4-1.xx.fbcdn.net/v/t39.30808-6/355440138_3181325112011323_1603247933731174826_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=df0YuYkLiwUQ7kNvgEwuxmZ&_nc_ht=scontent-dub4-1.xx&gid=AFnxcfG5-5MYU2KL9D6TDey&oh=00_AYDOpPEV9Zj5aVe_BFbY1crlZeovwLAKMyDMXzzXgMDyKQ&oe=66AF4C9C" alt="Profile pic" width="256" height="256" class="rounded-circle">
                <p>As a Software Developer at General Motors, my expertise in full stack development and agile methodologies has significantly contributed to advancing automotive software architectures. Our work leverages HTTP and Infrastructure as Code to enhance system robustness, reflecting a dedication to innovation and quality.
                 With a Bachelor's degree from Athlone Institute of Technology, my educational foundation in Computer Software Engineering continuously informs our collaborative efforts. The pursuit of excellence is further evidenced by multiple LinkedIn certifications, underscoring a commitment to professional growth and technological mastery.</p>
            </div>
        </div>
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                
        </div>
    </div>
</div>