<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width:380px;">
            <app-projectcard [projectName]="'Sample Angular Project'"></app-projectcard>  
        </div>
        <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width:380px;">
            <app-projectcard [projectName]="'Sample Spring Project'"></app-projectcard>  
        </div>
        <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width:380px;">
            <app-projectcard [projectName]="'Sample Java Project'"></app-projectcard>  
        </div>
    </div>  
</div>
